.main-header{
    display: flex;
    background-color: transparent;

    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    transition: background-color 0.3s ease, padding 0.3s;

    padding: 20px;
}

.main-header.scrolled{

  background-color: rgb(255, 255, 255); 
  
  /* Efeito Blur (Desfoque) no fundo - estilo iOS/Glassmorphism */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Para Safari */
  
  /* Opcional: Diminuir o header para ficar mais compacto ao rolar */
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.main-header.scrolled a{
    color: rgb(245, 151, 10);
}

.main-header a{
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

.main-header img{
    width: 50%;
}

.main-header ul{
    display: flex;
    gap: 20px;
}

nav a {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: #333;
  padding-bottom: 5px; 
}


nav a::after {
  content: '';
  position: absolute;
  width: 0%; 
  height: 2px; 
  bottom: 0;
  left: 0;
  background-color: #e67e22; 
  transition: width 0.3s ease-in-out; /* Animação de crescimento */
}

/* Quando passar o mouse, a linha cresce para 100% */
nav a:hover::after {
  width: 100%;
}