<header class="main-header" [class.scrolled]="isScrolled">
    <div class="left-content">
        <img src="/assets/logo-nobg.png" alt="logo"/>
    </div>
    <div class="right-content">
    <nav>
        <ul>
            <li><a (click)="goto('home')">Início</a></li>
            <li><a routerLink="/sobre">Quem somos</a></li>
            <li><a routerLink="/obras">Obras</a></li>
            <li><a routerLink="/clientes">Clientes</a></li>
            <li><a (click)="goto('contato')">Contato</a></li>
        </ul>
    </nav>
    </div>
</header>