<section class="about-section" id="about">
  <div class="container">
    
    <div class="about-content">
      <!-- <h2>Excelência em <span class="highlight">Pavimentação</span></h2> -->
      
      <p>
        Há mais de {{ anoAtual }} no mercado, a <strong>AsfaltoPav</strong> vem se consolidando como referência nacional na 
        aplicação de Microrrevestimento Asfáltico a Frio (MRAF) e tratamentos superficiais especiais.
      </p>
      <p>
        Com obras em todo território nacional, a empresa reúne um amplo portfólio de serviços realizados para concessionárias, orgãos públicos
        e grandes contratantes do setor rodoviário.
      </p>
      
      <div class="stats-grid">
        <div class="stat-item">
          <h3>+100</h3>
          <p>Obras Entregues</p>
        </div>
        <div class="stat-item">
          <h3>{{anoAtual}}</h3>
          <p>Anos de Estrada</p>
        </div>
      </div>
      
    </div>
    

    <div class="about-image">
      <img src="/assets/images/img_1.webp" alt="about" loading="lazy">
    </div>

    <!--SECOND PART ABOUT US-->

    <div class="about-image-2">
          <img src="/assets/images/img_2.webp" alt="about" loading="lazy">
    </div>
    
    <div class="about-content">
          <!-- <h2>Excelência em <span class="highlight">Pavimentação</span></h2> -->
          
          <p>
            A <strong>AsfaltoPav</strong> é especializada em soluções avançadas de manutenção e restauração
            rodoviária, garantindo durabilidade, segurança e eficiência operacional.
          </p>
          <p>
            A <strong>AsfaltoPav</strong> oferece serviços como:
          </p>

          <ul>
              <li>Microrrevestimento Asfáltico a Frio e Lama Asfáltica</li>
              <li>Preenchimento e correção de acostamentos com PMF (Pré misturado a frio)</li>
              <li>Correção e conservação com microrrevestimento</li>
              <li>Tecnologia sustentável com aproveitamento de fresado (RAP)</li>
          </ul>
        <p></p>
          
      <button class="btn-primary" (click)="irParaSecao('works')">Ver Nossos Serviços</button>

        
    </div>

  </div>
</section>