<section class="about-section" id="about">
  <div class="container">
    
    <div class="about-content">
      <h2>Excelência em <span class="highlight">Pavimentação</span></h2>
      
      <p>
        Há mais de {{ anoAtual }} no mercado, a <strong>AsfaltoPav</strong> vem se consolidando como referência nacional na 
        aplicação de Microrrevestimento Asfáltico a Frio (MRAF) e tratamentos superficiais especiais.
      </p>
      <p>
        Com obras em todo território nacional, a empresa reúne um amplo portfólio de serviços realizados para concessionárias, orgãos públicos
        e grandes contratantes do setor rodoviário.
      </p>
      
      <div class="stats-grid">
        <div class="stat-item">
          <h3>+150</h3>
          <p>Obras Entregues</p>
        </div>
        <div class="stat-item">
          <h3>{{anoAtual}}</h3>
          <p>Anos de Estrada</p>
        </div>
      </div>
      
      <button class="btn-primary">Ver Nossas Obras</button>
    </div>

    <!-- <div class="about-image">
      <img src="assets/trator-exemplo.jpg" alt="Equipe AsfaltoPav trabalhando" loading="lazy">
      
      <div class="img-detail"></div>
    </div> -->

  </div>
</section>