/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

:host{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-header {
    flex: 0 0 auto;
}

.content {
    flex: 1 0 auto;
    padding: 0px !important;
}

app-footer {
    flex: 0 0 auto;
}

@keyframes slideUpFade {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-bounce-short {
    animation: slideUpFade 0.4s ease-out forwards;
}
