<footer class="main-footer">
  <div class="footer-content" id="contato">
      <div class="footer-header">
        <h3>Contato</h3>
      </div>
      <div class="bottom-content">
        <div class="left-content">
              <div class="mapa-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3664.3863349685876!2d-51.18096722549831!3d-23.30173765210385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94eb44b4bb8bc8f9%3A0x21f0835561c571e!2sEdif%C3%ADcio%20Twin%20Towers!5e0!3m2!1spt-BR!2sbr!4v1771962201899!5m2!1spt-BR!2sbr" 
                width="400" 
                height="300" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
                </iframe>

              </div>
              <ul class="contact-section">
                <li>Av. Tiradentes, 501 - Jardim Shangri-Lá A, Londrina - PR</li>
              </ul>
            <div class="social-section">

              <div class="icon-facebook">
              <a href="https://www.facebook.com/Asfaltopav"
              target="_blank" 
              rel="noopener noreferrer" 
              class="social-icon"
              >
              <img src="/assets/icons/facebook.svg" alt="facebook" loading="lazy"> 
              </a>
              </div>
          
      
              <div class="icon-linkedin">
              <a href="https://www.linkedin.com/company/asfaltopav-servi%C3%A7os-de-pavimenta%C3%A7%C3%A3o-ltda/"
              target="_blank" 
              rel="noopener noreferrer" 
              class="social-icon"
              >
              <img src="/assets/icons/linkedin.svg" alt="linkedin" loading="lazy">
              </a>
              </div>
      
            <div class="icon-instagram">
            <a href="https://www.instagram.com/asfaltopav/"
            target="_blank" 
            rel="noopener noreferrer" 
            class="social-icon"
            >
            <img src="/assets/icons/instagram.svg" alt="instagram" loading="lazy">
            </a>
            </div>
            </div>  
            
        </div>



        <div class="contato-container">

            
            <form [formGroup]="meuFormulario" (ngSubmit)="enviar()">
              
              <div class="campo">
                <!-- <label for="nome">Nome</label> -->
                <input type="text" id="nome" formControlName="nome" placeholder="Nome">
              </div>

              <div class="campo">
                <!-- <label for="nome">Telefone</label> -->
                <input type="tel" id="telefone" 
                formControlName="telefone" 
                placeholder="(00) 00000-0000" 
                maxlength="15" 
                (input)="maskTel($event)">
              </div>

              <div class="campo">
                <!-- <label for="email">E-mail</label> -->
                <input type="email" id="email" formControlName="email" placeholder="exemplo@email.com">
              </div>

              <div class="campo">
                <!-- <label for="mensagem">Mensagem</label> -->
                <textarea id="mensagem" formControlName="mensagem" rows="4" placeholder="Insira sua mensagem."></textarea>
              </div>

              <button type="submit" class="btn-enviar">
                Enviar Mensagem
              </button>

            </form>
          </div>

       
    </div>    

    
    <div class="copyright-section">
    
      <p>&copy; {{ anoAtual }}. Desenvolvido por ASFALTOPAV. Todos os direitos reservados.</p>
    
    </div>

  </div>
 
</footer>

  @if (mostraToastSucesso()) {
    <div class="fixed bottom-5 right-5 z-[9999] flex items-center gap-3 bg-green-600 text-white px-5 py-3 rounded-lg shadow-xl animate-bounce-short">
      
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>

      <span class="font-medium">Mensagem enviada com sucesso!</span>
      
    </div>
  }

  @if (mostraToastErro()) {
    <div class="fixed bottom-5 right-5 z-[9999] flex items-center gap-3 bg-red-600 text-white px-5 py-3 rounded-lg shadow-xl animate-bounce-short">
        
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
        </svg>

        <span class="font-medium">Erro ao enviar. Tente novamente!</span>
        
      </div>
  }
  