<footer class="main-footer">
  <div class="footer-content" id="contato">
      <div class="footer-header">
        <h3>Contato</h3>
      </div>
      <div class="bottom-content">
        <div class="left-content">
              <ul class="contact-section">
                <li>Av. Tiradentes, 501 - Sala 1101, Londrina - PR</li>
                <li>contato@asfaltopav.com.br</li>
              </ul>
            <div class="social-section">

              <div class="icon-facebook">
              <a href="https://www.facebook.com/Asfaltopav"
              target="_blank" 
              rel="noopener noreferrer" 
              class="social-icon"
              >
              <img src="/assets/facebook.svg" alt="facebook"> 
              </a>
              </div>
          
      
              <div class="icon-linkedin">
              <a href="https://www.linkedin.com/company/asfaltopav-servi%C3%A7os-de-pavimenta%C3%A7%C3%A3o-ltda/"
              target="_blank" 
              rel="noopener noreferrer" 
              class="social-icon"
              >
              <img src="/assets/linkedin.svg" alt="linkedin">
              </a>
              </div>
      
            <div class="icon-instagram">
            <a href="https://www.instagram.com/asfaltopav/"
            target="_blank" 
            rel="noopener noreferrer" 
            class="social-icon"
            >
            <img src="/assets/instagram.svg" alt="instagram">
            </a>
            </div>
            </div>  
            
        </div>

        <div class="right-content">
          <!-- <form
            action="https://formspree.io/f/mwvbbwzd"
            method="POST"
          >
            <label>
              Email:
            </label>
            <input type="email" name="email">
            <label>
              Mensagem:
            </label>
            <textarea name="message"></textarea>
            <button type="submit">Enviar</button>
          </form> -->
        <div class="contato-container">
            <h2>Fale Conosco</h2>
            
            <form [formGroup]="meuFormulario" (ngSubmit)="enviar()">
              
              <div class="campo">
                <label for="nome">Nome</label>
                <input type="text" id="nome" formControlName="nome" placeholder="Seu nome completo">
              </div>

              <div class="campo">
                <label for="email">E-mail</label>
                <input type="email" id="email" formControlName="email" placeholder="exemplo@email.com">
              </div>

              <div class="campo">
                <label for="mensagem">Mensagem</label>
                <textarea id="mensagem" formControlName="mensagem" rows="4" placeholder="Insira seu texto aqui."></textarea>
              </div>

              <button type="submit" [disabled]="meuFormulario.invalid">
                Enviar Mensagem
              </button>

            </form>
          </div>

        </div>
    </div>    

    
    <div class="copyright-section">
    
      <p>&copy; {{ anoAtual }}. Desenvolvido por ASFALTOPAV. Todos os direitos reservados.</p>
    
    </div>
  </div>
 
  

</footer>